streamlit
loguru
pydantic_settings
langgraph
faiss-cpu
torch
sentence-transformers
langchain
opencv-python
Pillow
pdf2image
PyPDF2
pdfplumber
python-docx
python-pptx
insightface
langchain-text-splitters
pytesseract
easyocr
sentencepiece
ollama
PyMuPDF